{{ diagnostic }}
<!--<div [hidden]="submitted" class="overflow-hidden border rounded max-width-2 mx-auto">-->
<div class="overflow-hidden border rounded max-width-2 mx-auto">
  <div class="p2 bold white bg-blue center">Create Profile</div>
  <form (ngSubmit)="onSubmit()">
    <fieldset id="standard" class="m0 p0">
      <ul class="flex-inner">
        <li>
          <label for="imperial">Imperial</label>
          <input type="radio" [(ngModel)]="imperial" name="imperial" [value]="true">
        </li>
      <li>
        <label for="metric">Metric</label>
        <input type="radio" [(ngModel)]="imperial" name="metric" [value]="false">
      </li>
      </ul>
    </fieldset>

    <fieldset>
      <ul class="flex-outer">
        <li>
          <label class="label" for="firstName">First Name</label>
          <input class="input" type="text" id="firstName" required 
          [(ngModel)]="profile.firstName" name="first">
        </li>
        <li>
          <label class="label" for="lastName">Last Name</label>
          <input class="input" type="text" id="lastName" required
          [(ngModel)]="profile.lastName" name="last">
        </li>
        <li>
          <label class="label" for="age">Age</label>
          <input class="input" type="number" id="age" required
            [(ngModel)]="profile.age" name="age">        
        </li>
        <li>
          <label class="label" for="height">Height</label>
          <input class="input" type="number" id="height" name="height" placeholder="{{imperial ? 'cm' : 'inch' }}" [ngModel]="profile.height | units: imperial: 'height'" required (blur)="addHeight($event.target.value)">
        </li>
        <li>
          <label class="label" for="weight">Weight</label>
          <input class="input" type="number" id="weight" required placeholder="{{ imperial ? 'kgs' : 'lbs'}}"
          [ngModel]="profile.weight | units: imperial: 'weight'" (blur)="addWeight($event.target.value)" name="weight">
        </li>
        <li>
          <label class="label" for="sex">Gender</label>
          <select class="select" id="sex" required [(ngModel)]="profile.sex" name="sex">
            <option *ngFor="let sex of [{key: 'Male', value: 'm'}, {key: 'Female', value: 'f'}]" [value]="sex.value">{{sex.key}}</option>
          </select>
        </li>
      </ul>
    </fieldset>

    <div class="flex justify-end mb1 mr1">
      <button class="btn btn-primary" type="submit">Next</button>
    </div>
  </form>
</div>