<md-card class="half-width">
  <md-card-title>
    {{title}}
  </md-card-title>
  <form #bmrForm="ngForm" (ngSubmit)="calculateBMR(bmrForm)">
    <md-input-container class="quarter-width">
      <input [(ngModel)]="height" name="height" mdInput placeholder="Height (in inches)">
    </md-input-container>
    <md-input-container class="quarter-width">
      <input [(ngModel)]="weight" name="weight" mdInput type="number" placeholder="Weight (in Lbs)" value="250">
    </md-input-container>
    <md-input-container class="quarter-width">
      <input mdInput [(ngModel)]="age" name="age" type="number" placeholder="Age" value="30">
    </md-input-container>
    <md-radio-group class="quarter-width" [(ngModel)]="sexSelector" name="sex">
      <md-radio-button class="radio-button" *ngFor="let sex of sexes" [value]="sex" >{{sex}}</md-radio-button>
    </md-radio-group>
    <button type="submit" md-button>Submit</button>
  </form>
</md-card>